<h1> Plant of the Day </h1>

<h3>Plant of today is *random* plant</h3>
<img src="https://bloomscape.com/wp-content/uploads/2020/08/bloomscape_monstera_indigo-e1633461325378.jpg?ver=279421" width="200"></img>

<div>
Please log-in to know how to take care of your plants
</div>
<div>
<button onclick="location.href='/user_sign_in'" type="button">
         Log-in/Sign-up</button>
</div>
